.sidebar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0px;
  left: 0px;
  top: 55px;
  width: 75px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 200;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.sidebar img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
