
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 30px;
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;a
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}




.video-preview {
  line-height: 18px;
}

.thumbnail-row {
  margin-bottom: 8px;
    position: relative;
}

.video-timestamp {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  bottom: 10px;
  right: 5px;
  font-size: 12px;
  font-family: Roboto, Arial;
  font-weight: 500;
  border-radius: 2px; 
}

.thumbnails {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;  
}


.channel-pic {
  width: 50px;
  vertical-align: top;
}


.channel1-profile-pic {
  width: 36px;
  border-radius: 50%;
}

.video-title {
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
}

.video-author {
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-stats {  
  font-family: Roboto, Arial, sans-serif;
  margin-top: 0px;
  font-size: 12px;
  color: rgb(96, 96, 96);
}
