body {
  padding-bottom: 1000px;
}

.box1 {
  background-color: aqua;
  width: 200px;
}

.box2 {
  background-color: wheat;
  width: 75px;
}

.container {
  display: flex;
  flex-direction: row;
}

.item1 {
  width: 50px;
  background-color: aquamarine;
}

.item2 {
  flex: 1;
  background-color: violet;
}

.item3 {
  width: 75px;
  background-color:aqua;
}

.container1 {
  display: flex;
  justify-content:space-between; 
}

.item {
  background-color: aqua;
}


.containers {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 50px;
  border-width: 1px;
  border-color:thistle;
  border-style: solid;
}

.sidebar{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 300px;
}

.areas {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
}

.sidebar-btn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(88, 171, 255);
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.areas p {
    margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(144, 96, 255);
}

.header-right {
  color: white;
  margin-left: 20px;
  font-family: Arial;
  font-weight: bold;
  font-weight: 12px;
}

.header-middle {
  flex: 1;
}

.search-bar {
  margin-left: 70px;
  width: 100%;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-radius: 40px;
  border-style: none;
}

.download-btn {
  margin-left: 190px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background: none;
  color: white;
  margin-right: 20px;
  font-size: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.follow-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: top;
}

.info {
  flex: 1;
}

.name,
.status,
.fame {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.status {
  color: rgb(96, 96, 96);
  font-size: 18px;
}

.fame {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 5px;
}

.nested {
  display: flex;
}

.n-item1 {
  background-color: aqua;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-item2 {
  background-color:bisque;
  width: 200px;
  height: 100px;
}

.n-item-para {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.nested1 {
  display: flex;
}

.n-obj-1 {
  background-color: bisque;
  width: 100px;
  height: 100px;
}

.n-obj-2 {
  background-color: aqua;
  width: 200px;
  height: 100px;
}

.n-obj-2-row-2 {
  display: flex;
  justify-content: space-between;
}

.inbox {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  width: 460px;
}

.inbox-title {
  color: rgb(96, 96, 96);
  margin-top: 7px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.main-info {
  display: flex;
}

.inbox-profile {
  display: inline-block;
}

.inbox-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
}

.inbox-box1 {
  display: flex;
  justify-content: space-between;
}

.inbox-message-title,
.inbox-message-time,
.inbox-subject,
.inbox-message {
    margin-top: 0px;
  margin-bottom: 0px;
}

.inbox-message-title {
  font-weight: bold;
  margin-bottom: 1px;
  font-size: 18px;
}

.inbox-message-time {
  color: grey;
  font-size: 14px;
}

.inbox-subject {
  font-weight: bold;
  font-size: 16px;

}

.inbox-message {
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

.twitter-block {
  display: flex;
}

.twitter-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: top;
}

.twitter-info {
  display: inline-block;
  width: 400px;
}

.twitter-user {
  margin-top: 0px;
  margin-bottom: 0px;
}

.twitter-message {
  margin-top: 5px;
  margin-bottom: 0px;
}

.youtube-video-thumbnail {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 130px;
  height: 100px;
  background-color: rgb(217, 217, 217);
  border-radius: 20px;
  margin-right: -30px;
    border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 227, 227);
}

.youtube-video-details {
  background-color: rgb(255, 255, 255);
  width: 265px;
  height: 100px;
    margin-top: 15px;
  margin-bottom: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 227, 227);
}

.youtube-thumbnail-card {
  display: flex;
}

.youtube-video-details p {
  margin-left: 15px;
}


.twitter-block p {
  font-family: sans-serif;
}

.website-name {
  color: grey;
  margin-top: 10px;
  margin-bottom: 0px;
}

.youtube-video-title {
  margin-top: 5px;

}
